body {
    margin: 0;
    padding: 0;
}

:root {
    --clGray: #dbddde;
    --clBlue: #268bd2;
}

#calendar {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.day {
    text-align: center;
    min-height: 4rem;
    border-right: 1px solid var(--clGray);
    border-bottom: 1px solid var(--clGray);
    padding-top: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.weekend {
    color: var(--clBlue);
}
