{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the <strong>about</strong> page</h1>
            <p>This is a paragraph of text.</p>
            <p>This is another paragraph of text.</p>
            <p>Data from the template: {{index .StringMap "test"}}</p>
            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                Your remote IP address is {{index .StringMap "remote_ip"}}.
                {{else}}
                Your remote IP address is not known yet.
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}
