body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    display: flex;
    gap: 5rem;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 0.375rem;
    width: 100%;
}
