body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background: #eee;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    padding: 0.375rem;
    width: 100%;
}
